@media (max-width: 1200px){
  .header-row{
    padding: 48px 0;
  }
}
@media (max-width: 1000px){
    .header-row .header-toggle{
      display: none;
    }
    .header-row .header-menu{
      display: none;
    }
    .header-row .header-burger{
      display: block;
    }
        section.products .products-list .products-item .products-item-text{
          padding: 30px 40px;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
        }
          section.products .products-list .products-item .products-item-text h3{
            margin-bottom: 20px;
            //margin-top: 30px;
          }
          section.products .products-list .products-item .products-item-text p{
            line-height: 24px;
          }
        section.products .products-list .products-item .products-item-img{
          height: 410px;
        }
}
