
@font-face {
  font-family: "Gothampro";
  src: url("../fonts/gothampro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "GothamproBlack";
  src: url("../fonts/gothampro_black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "GothamproBold";
  src: url("../fonts/gothampro_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

$Raleway : 'Raleway', sans-serif;
$GothamproBold: 'GothamproBold',sans-serif;
$Cormorant: 'Cormorant', serif;
body{
  font-family: $Raleway;
}
input,
textarea{
  background: #F1F1F1;
  border-radius: 20px;
  border: none;
  padding: 0 8px;
  font-family: $Raleway;
  &:focus-visible{
    border:none;
    outline: none;
  }
}
.section_title{
  font-family: $Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #E31E24;
  text-align: center;
  margin-bottom: 45px;
}
.fixed_title{
  position: absolute;
  left: -61px;
  font-family: "GothamproBold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #E31E24;
  top: 28%;
  text-shadow: 0px 4px 10px rgb(138 138 138 / 25%);
  transform: rotate(-90deg) translateY(-138px);
}


.default_link{
  font-family: $Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #E31E24;
  padding: 20px 50px;
  box-sizing: border-box;
  width: max-content;
  background: #FFFFFF;
  border-radius: 35px;
  text-decoration: none;
  display: block;
}
