.clients {


    .container{
        background:url(../img/bg_clients.png) bottom left no-repeat;
    }
    .section_wraper {
        padding-top: 313px;
        padding-left: 35px;
        padding-right: 30px;
        position: relative;

        .header_clients {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .inner_content {
            margin-top: 84px;
            position: relative;
            padding: 20px 0;
           

            &:after {
                content: '';
                display: block;
                width: 600px;
                height: 450px;
                position: absolute;
                background: rgba($color: #fff, $alpha: 0.5);
                left: 58%;
                top: 0;
            }

            .inner_item {
                max-width: 578px;
                border-radius: 15px;
                background: #fff;
                box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.07);
                padding: 32px 55px 32px 100px;
                position: relative;
                margin-right: 32px;
                box-sizing: border-box;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 50px;

                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                }

                &::before {
                    background: url(../icons/client_2.png)center (center/cover) no-repeat;
                    width: 114px;
                    height: 66px;
                    left: -7px;
                    top: 18%;
                }

                &::after {
                    background: url(../icons/client_1.png)center (center/cover) no-repeat;
                    width: 114px;
                    height: 66px;
                    left: 81%;
                    top: 56%;

                }

                .item_title {
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 24px;
                    text-align: left;
                    color: #dc322a;
                    margin-bottom: 32px;
                }

                .item_descr {
                    font-family: Poppins_Light;
                    font-weight: normal;
                    font-size: 16px;
                    text-align: left;
                    color: #212022;
                    line-height: 24px;
                }

                .item_footer {
                    margin-top: 32px;

                    .name {
                        font-family: Poppins;
                        font-weight: 600;
                        font-size: 24px;
                        text-align: left;
                        color: #212022;
                        display: block;

                    }

                    .footer_descr {
                        font-family: Poppins;
                        font-weight: 500;
                        font-size: 16px;
                        text-align: left;
                        color: #212022;
                        margin-top: 10px;

                    }
                }
            }

        }
    }
}

.clients_footer {
    margin-top: 120px;

    div {
        img {
            margin: 0 auto;
        }
    }

    img {
        object-fit: contain;
        display: block;
    }
}

.clients {
    .slick-list.draggable {
        padding-left: 241px;
    }
}


.block_close_content {
    background: #ffff;
    width: 277px;
    height: 490px;
    top: 40%;
    left: 10px;
    position: absolute;
}

.prev_client,
.next_client {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../icons/arrow_bown.png) center no-repeat, #212022;
    border-radius: 50%;
    z-index: 20;
    position: absolute;
    border: none;
    left: 6%;

}

.next_client {
    top: 55%;
    transform: rotate(90deg);
}

.prev_client {
    top: 34%;
    transform: rotate(-90deg);
}

.mobile_slider_client {
    display: none;
}

.mobile_slider_client {
    overflow: hidden;
    padding: 40px 35px;
    max-width: 512px;
    width: 100%;
    margin: 0 auto;

    .inner_item {
        width: 100%;
        text-align: left;
        font-family: Poppins;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.07);
        padding: 25px;

        .item_title {

            font-weight: 600;
            font-size: 20px;
            color: #dc322a;

        }

        .item_descr {
            margin-top: 16px;
            font-weight: normal;
            font-size: 16px;
            color: #212022;


        }

        .item_footer {
            margin-top: 32px;

            .name {
                display: block;
                font-weight: 600;
                font-size: 20px;

                text-align: left;
                color: #212022;

            }

            .footer_descr {
                margin-top: 8px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #212022;
                display: block;

            }
        }
    }
}

.slider_mobile_clients {
    padding-bottom: 150px;

    a {
        display: none;
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        color: #dc322a;
        text-decoration: none;
        text-align: center;
        margin-top: 45px;


    }
}

.mobile_slider_client {
    .inner_item {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 84px;
            height: 78px;
            position: absolute;
            background: url(../icons/client_1.png);
            background-size: cover;
            top: 79%;
            left: 76%;
        }
    }
}