.header{
    margin-bottom: 150px;
    .container{
        padding-top: 30px;
    }
    &__wraper{
        background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
        height: 1020px;
        padding: 35px 30px 100px 30px;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        a{
            display: block;
            max-width: 181.25px;
            
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    &__title{
        text-align: center;
        font-family: Poppins;
        font-weight: bold;
        font-size: 80px;
        line-height: 90px;
        text-align: center;
        color: #dc322a;
        margin-top: 186px;
    }
    &__subtitle{
        font-weight: bold;
        font-size: 64px;
       
        text-align: center;
        color: #fff;
      
        font-family: Poppins;
        &::after{
            content: '';
            display: block;
            background:url(../icons/line_header.png) center  no-repeat;
            max-width: 141px;
            height: 42px;
            width: 100%;
            margin: 0 auto;
            margin-top: 17px;
        }

    }
    &__descr{
        display: flex;
        justify-content: center;
        margin-top: 55px;
        span{
            position: relative;
            font-family: Poppins,sans-serif;
            font-weight: 500;
            font-size: 25px;
            text-align: center;
            color: #fff;
            .left{
                display: inline-block;
                margin: 0 0.5rem;
                width: 110px;
                height: 77px;
                background: url(../icons/1.svg)center (center/cover) no-repeat;
                animation: swing; 
                animation-duration: 8s;
                animation-iteration-count:infinite;
                position: absolute;
                left: -29%;
                top: -14px;
                
                
            }
            .right{
                display: inline-block;
                margin: 0 0.5rem;
                width: 110px;
                height: 77px;
                background: url(../icons/2.svg)center (center/cover) no-repeat;
                animation: swing;
                animation-duration: 8s; 
                animation-iteration-count:infinite;
                position: absolute;
                top: -14px;
                right: -31%;
              
            }
        }
    }
    &__items{
        display: flex;
        justify-content: center;
        margin-top: 138px;
        &__item{
            margin-right: 30px;
            padding: 18px 30px;
            border-radius: 15px;
            background: transparent;
            backdrop-filter: blur(5px);
        --webkit-backdrop-filter: blur(5px);
            background-color: rgba(255, 255, 255, 0.05);
            &:last-child{
                margin-right: 0;
            }
                
            
        }
    }
    &__footer{
        display: flex;
        justify-content: flex-end;
        align-items:center;
        margin-top: 64px;
        &__email{
           
            flex-direction: column;
            font-family: 'Poppins_light',sans-serif;
            font-weight: 500;
            font-size: 16px;
            text-align: right;
            color:#DC322A;
            span{
                color: #afafaf;
            }
           a{
               display: block;
               font-family: 'Poppins_light',sans-serif;
                font-weight: 500;
                font-size: 18px;
                text-align: left;
                color: #fff;
           }

        }
    }
    &__trigger{
        display: flex;
        width: 50px;
        height: 70px;
        border-radius: 25px;
        background: #dc322a;
        box-shadow: 0px 15px 55px rgba(220, 50, 42, 0);
        align-items:center;
        justify-content: center;
        cursor: pointer;
        a{
           
            width: 14px;
            height: 20px;
            background: #fff;
            display: block;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 5px;
            padding-top: 5px;
            transition: 1s all;
            &:hover{
                span{
                    transform: translateY(-100%);
                }
               
               transition: 0.5s all;
            }
            span{
                display: block;
                width: 2px;
                height: 4px;
                border-radius: 1px;
                background: #dc322a;
                transition: 1s all;
            }
        }
    }

}
.shapka{
   margin-bottom: 100px;
}



