@media(max-width: 2560px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
}
@media all and (max-width:1500px) {
    body{
        display: block;
    }
    .vacancies__body {
        padding: 0 20px;
        align-items: first baseline;

    }

    .job_right_bg {
        left: 100%;
        max-width: 450px;
    }

    .news_wraper_item .news__items {
        justify-content: center;
    }

    .header .container {
        padding-top: 0;
    }
}

@media all and (max-width: 1000px) {
    .burger_menu {
        display: block;
    }

    .section_logo {
        display: none;
    }

    .header__top {

        a {
            display: none;
        }

    }

    .header__trigger {
        display: none;
    }

    .header__title {
        font-size: 44px;
        margin-top: 153px;
    }

    .header__subtitle {
        font-size: 32px;
        line-height: 40px;
        margin-top: -20px;

        &::after {
            max-width: 107px;
            width: 100%;
            background-size: contain;
        }
    }

    .header__descr {
        max-width: 300px;
        width: 100%;
        margin: 48px auto;
        padding: 0 10px;

        span {
            font-size: 20px;
        }
    }

    .header__descr span .left {
        width: 30px;
        position: absolute;
        top: -15px;
        left: -12px;
    }

    .header__descr span .right {
        position: absolute;
        top: -15px;
        width: 30px;
        right: -12px;

    }

    .header__items {
        margin-top: 0;
    }

    .header__items__item {
        padding: 0;
        height: 56px;
        margin-right: 19px;
        max-width: 96px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 5px;

        &:first-child {
            margin-left: 19px;
        }

        &:last-child {
            margin-right: 0;
        }

        img {
            width: 65px;
        }
    }

    .header__footer {
        justify-content: center;
        margin-top: 132px;
        padding-bottom: 62px;
    }

    .header .container {
        padding-top: 0;
    }

    .header__wraper {
        background: url(../img/bg_phone.png) center center/cover no-repeat;
        height: 842px;
        padding: 33px 24px 62px 24px;
    }

    #info {
        display: none;
    }


    .title_block {
        font-size: 44px;
        line-height: 50px;
    }

    // offer
    .offer {
        padding-top: 0;
    }

    .offer__wraper {
        flex-wrap: wrap;
        padding: 0 10px;
        justify-content: center;
    }

    .offer__content__left {
        img {
            display: none;
        }
    }

    .service_item {
        .list_item {

            font-size: 20px !important;

        }
    }

    .offer__content__right .items .item .list_item span {
        font-size: 16px;
    }

    .offer__content__right .items .item_active .descr {
        img {
            display: none;
        }
    }

    #about {
        padding-top: 45px;
    }

    .offer__content__right {
        background: none
    }

    // 

    .section_team .container {
        margin-top: 50px;
        height: 958px;
        background: url(../img/mobile_bg_team.png) center no-repeat;
        background-size: cover;
    }

    .team__left {
        width: 100%;
        padding: 0 24px;
    }

    .team__items {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .line {

            display: none;
        }

        .item {
            max-width: 162px;
            margin: 0;
            line-height: 24px;
            font-weight: 500;
            font-size: 14px;

            span {
                font-size: 24px;
                margin-right: 16px;
            }
        }

        .item_mobile {
            width: 100%;
            max-width: 100%;
            order: 3;
            border-top: 1px solid rgba($color: #afafaf, $alpha: 0.5);
            margin-top: 40px;
            padding-top: 20px;

            br {
                display: none;
            }

        }

        .first {
            order: 1;
        }

        .second {
            order: 2;
        }

    }

    .wraper_item_slide_team {
        padding: 0 24px;
    }

    .team .team__wraper {
        padding-left: 10px;
    }

    .mobile_prev_team,
    .mobile_next_team {
        top: 104%;
    }

    .team__left__poup {
        top: 190% !important;
    }

    .section_team {
        padding-bottom: 102px;
    }

    .team {
        padding: 0;
    }

    .team .team__wraper {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    .bg_section_team {
        display: none;
    }

    .mobile_slider_team {
        display: block;
    }

    .team__right {
        display: none;
    }

    // slide jobs


    .jobs {
        .slide-inner {
            display: none;
        }

        .mobile_slider {
            display: block;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            padding: 56px 24px;
        }

        .title_mobile {
            font-size: 44px;
            max-width: 206px;
            margin-bottom: 40px;
        }

        .mobile_slider .slider_item_mobile .header_slid {
            justify-content: unset;
        }

        .wraper_mobile_slid {
            .header_slid {
                img {
                    max-width: 80px;
                    width: 100%;
                }

                .descr {
                    max-width: 144px;
                    width: 100%;
                }

                .points {
                    margin-left: 40px;
                }
            }
        }

    }

    .bg_jobs {
        display: none;
    }

    // clients
    .clients .section_wraper {
        padding-top: 96px !important;


    }

    .slider_mobile_clients a {
        margin-top: 0;
    }

    //    vacancies

    .vacancies__head__items {
        flex-wrap: wrap;
    }

    .vacancies__body {
        flex-wrap: wrap;
        justify-content: center;
    }

    .vacancies__items {
        order: 2;
        margin-right: 0px;

        padding: 15px;
    }

    .vacancies__form {

        order: 1;

        .animation_cat {
            display: none;
        }
    }

    .vacancies__item {
        flex-wrap: wrap;
        justify-content: flex-start;

    }

    .vacancies__items .vacancies__item .title {
        font-size: 20px;
    }

    .vacancies__items .vacancies__item .time::before,
    .vacancies__items .geo::before,
    .vacancies__items .data::before {
        left: 0;

    }

    .item_li {
        margin-top: 10px;
    }

    .vacancies__items .vacancies__item .icon {
        right: 20px;
    }

    .vacancies .vacancies__head__items {
        justify-content: center;
    }

    .vacancies__head__items {
        .item_title {
            width: 100%;
            margin-bottom: 20px;

            h2 {
                text-align: center;
            }
        }
    }

    .vacancies .vacancies__head__items {
        justify-content: space-between;
    }

    // news
    .section_logo_news {
        display: none;
    }

    .news__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news__wraper {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;

        .news__left {
            margin-right: 0;
        }

        .news__right {

            .news__items {

                .news__item {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .bg_section_news {
        display: none;
    }

    .news {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .news__right {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .news__items {
            flex-wrap: wrap;
            justify-content: center;

            .news__item {
                max-width: 300px;
                width: 100%;

                img {
                    width: 100%;
                }

                .news_descr {
                    font-size: 20px;
                }
            }
        }
    }

    // footer

    .footer__wraper {
        padding: 48px 24px;

        .footer__head {
            flex-wrap: wrap;

            .address {
                margin-bottom: 24px;
            }

            .phone {
                margin-bottom: 24px;
            }
        }

        .footer__body {
            flex-wrap: wrap;
            justify-content: center;

            .copyright {
                order: 3;
            }

            .date {
                order: 2;
            }

            .socials {
                margin-bottom: 20px;
                order: 1;
            }
        }
    }

    .body_slid {
        img {

            width: 100%;
            display: block;
            margin-right: 20px;
        }
    }

    .points {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        text-align: right;
        color: #fff;

    }

    .button_mobile_news {
        display: block;
    }
}



// 
@media (max-width:1390px) {
    // news

    .news__right {
        width: 100%;

        .news__items {
            justify-content: space-around;
        }
    }
}

@media (max-width:1130px) {

    // news
    .news {
        .container {
            background: url(../img/mobile_bg_news.png) no-repeat;
            padding-top: 56px;
            padding: 56px 20px 56px 20px;
            background-size: cover;

        }
    }

    .news__wraper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bg_section_news {
        display: none;
    }

    .news__left {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-content: center;
        align-items: center;
        margin-bottom: 20px;

        .item_title {
            width: 100%;

            .title_block {
                text-align: center;
                font-size: 44px;

                br {
                    display: none;
                }
            }
        }

        .news__subtitle {
            margin-top: 40px;
        }

        .button_link {
            display: none;
        }

        .button_mobile_news {
            display: block;
        }
    }

}


@media(max-width:1224px){
    .team__right__items .item{
        max-width:245px;
        margin-top: 0px !important;
    }
}

@media all and (max-width:1280px) {
    .vacancies__items .geo::before{
        left: -3px;
    }
    .vacancies__form .form{
        width: 300px;
    }
    .vacancies__items .vacancies__item .title{
        min-width: 280px;
    }
    .vacancies__items {
        width: auto;
       
        .item_vac {
            width: 190px;
            margin-right: 40px;
        }

        .geo {
            margin-right: 40px;

        }
    }

    .vacancies__items .vacancies__item .title {
        font-size: 20px;
    }

    .offer__content__right .items .item .descr img {
        left: 66%;
    }

    .vacancies__head {

        .vacancies__head__items {

            .item_title {
                h2 {
                    font-size: 50px;
                }
            }
        }

    }

    .vacancies__items {
        padding-right: 20px;
    }

    .vacancies__items .vacancies__item .title {
        max-width: 280px;
        width: 100%;
        min-width: none;
    }

    .block_close_content {
        height: 467px;
        top: 45%;
    }
    .clients .section_wraper .inner_content:after {
        max-width: 490px;
        width: 100%;
        height: 503px;
    }
    .team__right__items .item {
        margin-right: 0;
        margin-top: 20px;
    }

    .team__left {
        .title_block {
            br {
                display: none;
            }
        }
    }

    .team .team__wraper {
        padding-left: 10px;
    }

    .section_team {

        .section_logo {
            top: 0;
        }
    }

    .job_right_bg {
        max-width: 450px;
        left: 100%;
    }

  

    .line_block {
        top: 80%;
        left: 0;
        height: 250px;
        width: 100%;
    }

    .news__left {
        margin-right: 50px;
    }

    .news__items .news__item {
        margin-right: 10px;
    }

    .clients {
        .container {
            // background: #F5F5F5;
            padding-top: 40px;
            border-radius: 40px 40px 0px 0px;
        }

    }
}

@media (max-width:1024px) {
    .vacancies__form .form{
        max-width:334px;
        width: 100%;
    }
    .vacancies__head .vacancies__head__items .item_title h2 {
        br {
            display: none;
        }
    }

    .vacancies__items .vacancies__item .title {
        font-size: 16px;
        min-width: 170px;
    }

    .vacancies__item .item_vac,
    .vacancies__item .data,
    .vacancies__items .geo{
       
        margin-right: 20;
        white-space: nowrap;
    }
    .vacancies__items .data:before{
        left: -10px;
    }
    .item_li {
        font-size: 13px;
    }

    .vacancies__head__items {

        .remote,
        .delight {
            margin-right: 10px;
        }

    }

    .vacancies .vacancies__head {
        padding: 0 10px;
    }

   

    .bg_section_team {
        display: none;
        background: #F5F5F5;
    }

    .team__left__poup {
        top: 166%;
    }

    .job_right_bg {
        display: none;
    }


    .mobile_slider .slider_item_mobile .footer_slid {
        justify-content: space-around;
    }

    .clients_footer {
        display: none;
    }

    .mobile_slider_client {
        display: block;

    }

    .slider_mobile_clients {
        a {
            display: block;
        }
    }

    .inner_content {
        display: none;
    }

    .block_close_content {
        display: none;
    }

    .header_clients {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            margin: 0 auto;
        }

        a {
            display: none;
        }
    }

    .mobile_slider_client .inner_item {
        max-width: initial;
    }

    .clients .section_wraper {
        padding-left: 0;
        padding-right: 0;
        padding-top: 40px;
    }

    .slider_mobile_clients {
        background: #F5F5F5;
    }

    .news {
        .section_logo_news {
            top: 10%;
        }
    }


}
@media (max-width:960px){
    .head-item{
        margin-top: 80px;
    }
    .body-item{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        width: 100%;
        .item-text{
            width: 100% !important;
        }
        .item-img{
            margin-bottom: 40px;
            width: 100% !important;
            img{
             
                width: 100% !important;
                object-fit: cover;
               
            }
        }
    }
}
@media (max-width:768px) {
    .vacancies__items{
        width: 100%;
        flex-direction: column;
        .vacancies__item_wraper{
            .vacancies__item{
                flex-direction: column;
                justify-content: center;
                align-items:center;
                .title{
                    width: 100%;
                    min-width: 100%;
                    text-align: center;
                }
                .item_vac{
                    margin-right: 0;
                    margin: 0 auto;
                    text-align: left;
                    display: flex;
                    justify-content: flex-start;
                    width: 190px;
                    .time {
                        width: 100%;
                        text-align: center;
                    }
                }
                .geo{
                    margin: 20px auto;
                    width: 190px;
                    text-align: center;
                }
                .data{
                    width: 190px;
                    text-align: center;

                    &::before{
                        left: 0;
                    }
                }
            }
           
        }

    }
    .footer__body {
        justify-content: space-around !important;
        align-items: center;
        display: flex;
    }

    .line_block {
        display: none;
    }

    .jobs .mobile_slider {
        padding: 10px 24px;
    }
}

@media (max-width:425px) {
    .vacancie_descr_item_footer {
        .button {
            font-size: 10px;
            align-items: center;
            display: flex;
        }
    }

    .jobs .container {
        border-radius: 3% 3% 3% 3%;
    }

    .click_block {
        height: 250px;
    }

    .vacancies__item {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .title {
            width: 100%;
        }

        .item_vac {

            justify-content: flex-start;
        }

    }

    .vacancies__items .vacancies__item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .vacancies__items .geo:before {
        left: 10px;
    }
}

@media (max-width: 566px) {

    .clients .section_wraper {
        padding-left: 0;
        padding-right: 0;
    }

    .team__left__poup {
        top: 200% !important;
    }
}

@media (max-width:320px) {
    .header__descr span .left {
        width: 20px;
        position: absolute;
        top: -15px;
        left: -12px;
        background-size: contain;
        display: none;
    }

    .header__descr span .right {
        position: absolute;
        top: -15px;
        width: 20px;
        right: -12px;
        background-size: contain;
        display: none;

    }

    .header__footer {
        margin-top: 85px;
    }

    .footer__head {

        .address,
        .phone,
        .emails {
            font-size: 16px;
        }

        .emails {
            a {
                font-size: 16px;
            }

        }
    }

    .team__left__poup {
        top: 190% !important;
    }
}