.section_news{
    margin-top: 100px;
    padding: 0 20px;
}

.news{
    position: relative;
    padding-top: 150px;
    
    .container{
        position: relative;
    }
    &__wraper{
        padding: 38px 120px;
        position: relative;
        display: flex;
        padding-bottom: 115px;

    }
   
    &__subtitle{
        font-family: Poppins_light;
        font-weight: normal;
        font-size: 16px;
        text-align: left;
        color: #212022;
        margin-top: 80px;

    }
    &__left{
        margin-right: 139px;
    }
  
    &__items{
        display: flex;
       padding-top: 16px;
        .news__item{
            padding: 20px 20px 30px 20px;
            background:#fff;
            max-width: 412px;
            width: 100%;
            border-radius: 15px;
            background: #fff;
            box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.07);
            position: relative;
            margin-right: 32px;

            a{
                text-decoration: none;
                font-family: Poppins;
                font-weight: 600;
                font-size: 24px;
                text-align: left;
                color: #212022;
            }
            &:last-child{
                margin-right: 0;
            }
            .news_date{
                font-family: Poppins;
                font-weight: 500;
                font-size: 14px;
                text-align: left;
                color: #fff;
                position: absolute;
                top: 35px;
                left: 40px;
                padding: 8px 16px;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                filter: drop-shadow(0px 15px 55px rgba(220, 50, 42, 0));
                /* Note: currently only Safari supports backdrop-filter */
                backdrop-filter: blur(30px);
                --webkit-backdrop-filter: blur(30px);
                background-color: rgba(255, 255, 255, 0.15);            
            }
            .news_descr{
               
                margin-top: 33px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .news_link{
                    display: flex;
                    background:url(../icons/arrow_bown.png) center no-repeat,#dc322a;
                    width: 40px;
                    border-radius: 20px;             
                    box-shadow: 0px 15px 55px rgba(220, 50, 42, 0);
                    width: 40px;
                    height: 40px;
                    transform: rotate(-90deg);

                }
            }
            
        }
    }
}

// 

.news_wraper_item{
    display: flex;
    justify-content: space-between;
   
    
    .news__items{
        width: 100%;
        flex-wrap: wrap;
        .news__item{
            margin-top: 80px;
            max-width: 457px;
            width: 100%;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
       
    }
}

.news-page-item{
    .container{
        padding: 0 24px;
    }
    .head-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        .title_page{
            font-family: Poppins;
            font-weight: 600;
            font-size: 24px;
            text-align: left;
            color: #212022;
        }
        .date-item{
            margin-top: 20px;
            font-family: Poppins;
            font-weight: 500;
            font-size: 14px;
            text-align: left;
            color: #212022;
            padding: 8px 16px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            filter: drop-shadow(0 15px 55px rgba(220, 50, 42, 0));
            -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
            --webkit-backdrop-filter: blur(30px);
            background-color: rgba($color: #000000, $alpha: .15);
        }
       
    }
    .body-item{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        
        .item-text{
            font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            padding: 24px 24px;
            order: 2;
        }
        .item-img{
            width: 40%;
            order: 1;
            padding-top: 24px;
            img{
                width: auto;
                object-fit: cover;
            }
        }
    }
}