$dir: '../assets/imgs/';
$Lato: 'Lato', sans-serif;
$link_color: rgba(255, 255, 255, 1);
$Inter: 'Inter',sans-serif;
$size30 : calc((100vw - 375px) / (1920 - 375) * (30 - 16) + 16px);
$size38 : calc((100vw - 375px) / (1920 - 375) * (38 - 30) + 30px);
$size20:  calc((100vw - 375px) / (1920 - 375) * (20 - 16) + 16px);
$size14: 14px;
$size18: calc((100vw - 375px) / (1920 - 375) * (18 - 14) + 14px);
$size16: calc((100vw - 375px) / (1920 - 375) * (16 - 11) + 11px);
$size100:  calc((100vw - 375px) / (1920 - 375) * (100 - 40) + 40px);
$size50: calc((100vw - 375px) / (1920 - 375) * (50 - 34) + 34px);
.info_link{
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #2A2929;
  display: flex;
  align-items: center;
  gap: 10px;
  &:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url("../assets/imgs/icons/info_ico.png") center/contain no-repeat;
  }
}
.link-back{
  text-decoration: none;
  font-family: $Lato;
  font-style: normal;
  font-weight: 400;
  font-size: $size16;
  line-height: 10px;
  color: #2A2929;
  display: flex;
  align-items: center;
  gap: 10px;
  &:before{
    content: '';
    display: block;
    background: url("../assets/sprite/sprite.svg#back_ico") center/cover no-repeat;
    width: 42px;
    height: 42px;
    transition: .3s all;
    border-radius: 50%;
    border: 1px solid transparent;
  }
  &:hover{
    color: rgba(42, 41, 41, 1);
    &:before{
      border: 1px solid;
      border-radius: 50%;
    }
  }
}
.btn_promo{
  font-family: $Lato;
  font-style: normal;
  font-weight: 400;
  font-size: $size14;
  line-height: 17px;
  color: rgba(42, 41, 41, 1);
  transition: .3s all;
  &:hover{
    color: rgba(136, 136, 136, 1);
  }
}


.btn-large{
  padding: 20px 70px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-family: $Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: max-content;
  transition: .3s all;
  &:hover{
    background: rgba(42, 41, 41, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.close_btn{
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url("../assets/sprite/sprite.svg#close_ico") center/cover no-repeat;
}
.reset_btn{
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../assets/sprite/sprite.svg#res_ico") center/cover no-repeat;
}
