@media(max-width: 1440px){

}


@media(max-width: 1399px){
  header .header_wrapper{
    gap: 50px;

  }

}
@media(max-width: 1340px){
  header .header_wrapper{
    .header_panel{
      label[for='search']{
        display: none;
      }
    }
    .search_btn{
      display: flex;
    }
    .header_menu{
      display: flex;
      gap: 30px;
    }
  }
  .burger_btn{
    display: block;
  }

}


@media(max-width: 1199px){
  .basket-grid{
    grid-column-gap: 50px;
  }
  form label{
    grid-template-columns: 130px 1fr;
  }
  .popup_filter_bottom{
    //display: block;
  }
  .product_wrapper .fillters{
    grid-template-columns: 1fr;
    span{
      justify-content: end;
      display: flex;
      align-items: center;
      gap: 10px;
      &:after{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url("../assets/imgs/icons/filter_ico.png") center no-repeat;
      }
    }
  }
}

@media(max-width: 1023px){
  .basket-grid{
    grid-template-columns: 1fr;
  }
  .section_title{

    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 10px;
  }
  .section_link{

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;
  }
  .catalog_detail{
    padding-top: 30px !important;
    .imgs{
      width: 100%;
      .img_main{
        width: 100%;
      }
    }
    .catalog_detail_info{
      width: 100%;
      margin-top: 80px;
    }
  }
  .burger_menu{
    width: calc(100% / 2);
  }
  .product_item .tns-nav{
    height: calc(100% - 4px - 117px - 30px);
  }
  .section_banner .item .text{
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    //font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
    gap: 30px;
    a{
      font-size: 12px;
      padding: 14px 50px;
    }
  }
  .section_banner .owl-dots{
    bottom: 17px;
  }
  .section_banner .arrows .btn{
    width: 40px;
    height: 40px;
  }
  footer.footer .footer_body{
    grid-template-columns: repeat(3, 1fr);
    .menu ul{
      grid-template-columns: 1fr;
    }
  }
  .catalog_wrapper{
    .left_menu{
      display: none;
    }
    .product_wrapper{
      width: 100%;
      .product_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        .product_item{
          .tns-nav{
            height: calc(100% - 4px - 93px - 30px);
            width: calc(100% - 10px);
          }
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .feedback_info_grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    h4{
      grid-area: 1 / 1 / 2 / 4;
      text-align: center;
    }
  }
  .feedback_list-items{
    gap: 20px;
  }
  .feedback_list-items .feedback_list-item{
    grid-template-columns: 1fr;
    .feedback_list-item_shop{
      a{
        text-align: right;
      }
    }
  }
  .feedback_list-item_info{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    h5,
    .city{
      margin-bottom: 0 !important;
    }
    h5{
      margin-right: 20px;
    }
    .raiting{
      margin-left: auto;
    }
  }
  .basket__list .basket__item{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    align-items: start;
    img{
      grid-area: 1 / 1 / 3 / 2;
      height: 190px;
      width: 120px;
      position: absolute;
    }
    .basket__item-info{
      grid-area: 1 / 2 / 2 / 4;
    }
    .basket__item-size{
      grid-area: 2 / 2 / 3 / 3;
    }
    .basket__item-counter{
      grid-area: 2 / 4 / 3 / 5;
    }
    .basket__item-price{
      grid-area: 3 / 2 / 4 / 3;
    }
    .basket__item-info--color{
      grid-area: 2 / 3 / 3 / 4;
    }
    .basket__item-del_trigger{
      position: absolute;
      top: 20px;
      right: 20px;
    }

  }
  .footer{
    .section_top{
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

@media(max-width: 768px){
  footer.footer .social_list{
    flex-wrap: wrap;
    a{
      width: max-content;
    }
  }
  .footer.footer .footer_body{
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    .info{
      grid-column: 1/ 4;
    }
  }
}

@media (max-width: 767px){
  .catalog_wrapper .product_wrapper .product_list .product_item .tns-nav{
    height: calc(100% - 4px - 230px - 30px);
  }
  .product_item .product_item_content{
    flex-direction: column;
  }
  .product_item .product_item_content .text .product_item_price{
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
  .product_item .product_info{
    right: 0;
  }
  .product_item .product_item_content .text .product_item_info{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .catalog_wrapper .product_wrapper .product_list{
    gap: 8px;
    justify-content: space-between;

  }
  .product_wrapper .fillters span{
    justify-content: flex-start;
  }
  .fixed_menu{
    display: flex;
  }
  .product_items_list .arrows{
    display: none;
  }
  header{
    background: #fff;
  }
  header .header_wrapper .header_logo a img{
    filter: invert(0);
  }
  .burger_btn{
    background: url("../assets/imgs/icons/burger_ico.png") center no-repeat
  }
  header .header_wrapper .header_panel .header_user_info a img, .active_burger header .header_wrapper .header_panel .header_user_info a img{
    filter: invert(1);
  }
  .section_banner{
    margin-top: 0;
  }
  .section_banner .arrows .btn{
    display: none;
  }
  .banner_slider{
    height: 350px;
    .item{
      img{
        height: 350px;
        object-fit: cover;
      }
    }
  }
  form label,
  form .slecetor_position{
    grid-template-columns: 1fr;
    gap: 20px;
  }
  form .slecetor_position .input-group{
    grid-template-columns: 1fr 1fr;
  }
  form .slecetor_position .input-group label{
    width: 100%;
  }
  form .slecetor_position .input-group label[for='number']{
    grid-column: 1/4;
  }
  .basket__list .basket__item .basket__item-price,
  .basket__list .basket__item .basket__item-info,
  .basket__list .basket__item .basket__item-size{
    width: 100%;
    grid-column: 2/5;
  }
  .basket__list .basket__item .basket__item-info--color{
    margin: 0 auto;
  }
  .basket__list .basket__item .basket__item-counter{
    gap: 10px;
  }
  .basket__list .basket__item .basket__item-size,
  .basket__list .basket__item .basket__item-price{
    margin-left: 20px;
  }
  .basket__list .basket__item img{
    width: 90px;
    height: 140px;
  }

  header .header_wrapper{
    grid-template-columns: 1fr 165px 1fr;
    .search_btn{
      display: none;
    }
    .header_panel{
      .header_user_info{
        a{
          display: none;
          &:first-child{
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 575px){
  .feedback_banner{
    padding: 40px 17px;
    .banner_text span{
      margin-bottom: 40px;
    }
  }
}
