@media (max-width: 1765px) {
  .relative_group img {
    max-width: 960px;
  }
}

@media (max-width: 1630px) {
  .link_items a {
    margin-right: 1rem;
  }
  #svg_anim {
    max-width: 99%;
    min-width: 99%;
  }
  .relative_group img {
    max-width: 900px;
  }
}

@media (max-width: 1568px) {
  .relative_group img {
    max-width: 800px;
  }
  #svg_animation {
    max-width: 98%;
    min-width: 95%;
  }
  .row.d-flex.align-items-end.relative_group {
    margin-top: -20rem;
  }
}

@media (max-width: 1482px) {
  .link_items a {
    max-width: 70px;
  }
  .relative_group img {
    max-width: 700px;
  }
}

@media (max-width: 1368px) {
  .relative_group img {
    max-width: 600px;
  }
  .relative_group .form {
    left: 26%;
  }
}

@media (max-width: 1280px) {
  .add_link {
    left: 44%;
  }
}

@media (max-width: 1268px) {
  .relative_group img {
    max-width: 500px;
  }
}

@media (max-width: 1235px) {
  .link_items a {
    max-width: 50px;
  }
  object#word {
    max-width: 85%;
  }
}

@media (max-width: 1074px) {
  .relative_group img {
    max-width: 400px;
  }
}

@media (max-width: 960px) {
  .col-disable {
    display: none;
  }
  .text_banner h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .text_banner .subtitle span {
    font-size: 8px;
    line-height: 10px;
  }
  .logo_1 {
    display: none;
  }
  .logo_2 {
    display: block;
    margin-top: 7px;
  }
  .text_banner .subtitle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .text_banner {
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 260px;
    width: 100%;
  }
  .text_banner .banner_text_content {
    display: none;
  }
  .banner_top {
    background-size: cover;
    height: 211px;
    background-position-x: center;
  }
  .descr_modile {
    display: block;
  }
  .about_mobile {
    display: block;
    padding: 0 15px;
    margin-top: 70px;
    padding-right: 0;
  }
  .about_mobile .bg_mobile {
    background: #F8F8F8;
    border-radius: 30px 0px 0px 0px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .about_mobile .svg {
    width: 100%;
    height: 200px;
  }
  .about_mobile .svg:nth-child(2) {
    width: 200%;
    min-width: 200%;
    height: 300px;
  }
  .about_mobile .to_right {
    margin-top: 2rem;
  }
  .about_mobile .to_right span {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about_mobile .to_right span:after {
    content: '';
    display: block;
    width: 24px;
    height: 12px;
    background: url(../img/arr_r.png) left center no-repeat;
  }
  .component_modile {
    display: block;
  }
  .books_section {
    display: block;
  }
  .footer_mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about {
    display: none;
  }
  .components {
    display: none;
  }
  .footer_banner {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer_mini {
    background: url(../img/footer_img_mini.png) no-repeat;
    background-size: cover;
  }
}
/*# sourceMappingURL=media.css.map */