
@font-face {
    font-family: 'Montserrat_Bold',sans-serif;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat_Light',sans-serif;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular',sans-serif;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium.ttf',sans-serif;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-Bold',sans-serif;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Medium',sans-serif;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Regular',sans-serif;
    src: url(../fonts/Roboto-Regular.ttf);
}


.content_block{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}


$mons_bold: 'Montserrat',sans-serif;
$mons_light: 'Montserrat',sans-serif;
$mons_regular: 'Montserrat',sans-serif;
$mons_medium: 'Montserrat',sans-serif;

$roboto_bold : 'Roboto',sans-serif;
$roboto_medium: 'Roboto',sans-serif;
$roboto_regular: 'Roboto',sans-serif;


.banner_top{
    background: url(../img/banner2.png) top/cover no-repeat, url(../img/banner.png) right no-repeat;
    height: 800px;
    display: flex;
    align-items: center;
}

.text_banner{
    h1{
        font-family: $mons_bold;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        text-transform: uppercase;
        color: #5FBDAA;
        margin-bottom: 17px;
    }
}

.text_banner {
    .subtitle{
        display: flex;
        align-items: center;
        margin-bottom: 56px;
        span{
            font-family: $mons_bold;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            display: block;
            color: #ffff;
            background: linear-gradient(0deg, #5FBDAA, #5FBDAA), #5FBDAA;
            border-radius: 10px 0px 0px 0px;
            padding: 10px 20px;
        }
    }   
    .banner_text_content{
        font-family: $mons_regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #333333;
        max-width: 566px;
        width: 100%;
    }
}

.about {
    
    .title{
        font-family: $mons_light;
        font-style: normal;
        font-weight: 300;
        font-size: 45px;
        line-height: 55px;
        color: #C4C4C4;
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    .items{
        display: flex;
        align-items: flex-start;
        .item_one{
            font-size: 18px;
            line-height: 24px;   
            color: #FFFFFF;
            background: #7557D4;
            border: 1px solid #C4C4C4;
            padding: 10px 20px;
            margin-top: -14px;
        }
       

        .list_item{
            margin-top: -14px;
            span{
                display: block;
                font-family: $mons_regular;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #333333;
                border: 1px solid #c4c4c4;
                padding: 10px 20px;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                margin-bottom: 1rem;
            }
        }
    }
}

.svg_two{
    margin-top: -17px;
}
.arrow_one{
    max-width: 131px;
}

.svg_three{
    margin-top: -81px;
}

.green_content{
    background: #F8F8F8;
    padding-left: 59px;
    padding-top: 128px;
    padding-bottom: 138px;
    .title{
        font-family: $mons_light;
        font-style: normal;
        font-weight: 300;
        font-size: 45px;
        line-height: 55px;     
        text-transform: uppercase;
        color: #5FBDAA;
    }
    .list_item{
        .item{
            display: flex;
            align-items: center;
            span{
                font-family: $mons_bold;
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 73px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 24px 48px rgba(95, 189, 170, 0.2);
                margin-right: 36px;
            }

            p{
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(95, 189, 170, 0.5);
                border-radius: 4px;
                padding: 15px 30px;
                margin-bottom: 0;
                font-family: $mons_bold;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
            }
        }
    }
}

.item_one{
    font-family: $mons_regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    background: #EE734F;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 10px 20px;
}


.mt_section{
    margin-top: 138px;
}
.item_list_arrows{
    display: flex;
    flex-direction: column;
    span{
        display: block;
        font-family:$mons_regular;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #333333;
        border: 1px solid #c4c4c4;
        padding: 10px 20px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        margin-bottom: 1rem;
    }
}

.svg_wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    
    .svg_four{
        position: absolute;
    }
    .svg_five{
        // margin-top: -10px;
        position: absolute;
        top: 5px;
    }
    .svg_six{
        position: absolute;
        top: 5px;
    }
    .svg_seven{
        position: absolute;
        top: 5px;
    }
}
.item_list_arrows{
    span{
        margin: 0;
    }
    .time{
        margin-bottom: 84px;
    }
    .room{
        margin-bottom: 84px;
    }
    .doctor{
        margin-bottom: 1rem;
    }
}

.components{
    margin-top: 100px;
    background:url(../img/0.jpg),;
    padding-top: 127px;
    padding-bottom: 238px;
    position: relative;
    .book{
        padding-right: 0;
    }
    .book_col{
        padding-left: 0;
    }
    .title{
        font-family: $mons_light;
        font-style: normal;
        font-weight: 300;
        font-size: 45px;
        line-height: 55px;
        text-transform: uppercase;
        color: #C4C4C4;
        margin-bottom: 99px;
    }
    .subitle{
        font-family: $roboto_bold;
        font-style: normal;
        font-weight: normal;
        font-size: 240px;
        line-height: 200px;
    }
    .sub_content{
        align-self: flex-end;

        p{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: #333333;
            margin-bottom: 40px;
        }
        span{
            font-family: $mons_regular;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #333333;
            margin-bottom: 26px;
            &:last-child{
                font-family: $mons_bold;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
    }
}

.f-colum{
    flex-direction: column;
}

.link_items{ 
    align-items: flex-start;
    a{
        display: flex;
        margin-right: 30px;
        flex-direction: column;
        justify-content: center;
        

        span{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #333333;
            margin-top: 27px;
            display: block;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

.relative_group{
    position: relative;

    .poup_img{
        position: absolute;
        left: 42%;
        top: 60%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
    .picker{
        margin-top: 37rem;
    }
    .form{
        position: absolute;
        left: 30%;
        top: 30%;
    }
}

.menu{
    ul{
        display: flex;
        span{
            font-family: $mons_medium;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            color: #333333;
            margin-right: 42px;
        }
        li{
            list-style: none;
            font-family: $mons_medium;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #333333;
            margin-right: 72px;
            position: relative;
            &::after{
                content: '';
                display: block;
                background:url(../img/arrow_down.png) center no-repeat;
                width: 10px;
                height: 6px;
                position: absolute;
                top: 42%;
                right: -21px;
            }
            .sub_menu{
                position: absolute;
                background: #ffff;
                width: 293px;
                padding: 17px 30px;
                top: 44px;
               ul{
                   display: flex;
                   flex-direction: column;
                   padding: 0;
                   p{
                       color: #5FBDAA;
                       font-family: $roboto_bold;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 30px;
                   }
                   .orange{
                       color: #EE734F;
                   }
                   .pink{
                       color: #7557D4;
                   }
                   li{
                    font-family: $roboto_regular;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 12px;
                    margin-bottom: 1rem;
                    color: #333333;
                       &::after{
                           display: none;
                       }
                   }
               }
            }
        }
    }
}

.footer_banner{
    background:url(../img/bg_footer.png) center no-repeat;
    height: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 184px;
    box-sizing: border-box;
    background-size: cover;
    // justify-content: space-between;
    span{
        width: 100%;
        display: block;
        font-family: $mons_light;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 61px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.add_link{
    background: linear-gradient(0deg, #5FBDAA, #5FBDAA), #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 24px 48px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    width: 240px;
    height: 80px;
    font-family: $roboto_medium;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 54%;
    top: 18%;
    span{
        display: flex;
        align-items: center;
       
        &::before{
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: url(../img/plus.png) center no-repeat;
            margin-right: 10px;
        }
    }
}

#svg_anim{
    // width: 100%;
}