body{
    background: url(../img/main_bg.png);
}
header{
    padding: 144px 0;
}
.header{

    .header__logo{
        display: block;
        img{
            max-width: 191px;
            width: 100%;
            height: 284px;
        }
    }
    .header_player{ 
        max-width: 660px;
        width: 100%;
        display: flex;
        align-items: center;
        background: #F0F0F8;
        box-shadow: 0px 15px 25px rgba(193, 191, 218, 0.8);
        border-radius: 20px;
        box-sizing: border-box;
        justify-content: space-between;
        padding: 10px 22px 10px 51px;
        audio{
            width: 100%;
        }
        a{
            display: block;
        }
        .play_ico{
            display: block;
            max-width: 49px;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .value_ico{
            display: block;
            max-width: 24px;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .header_player_info{
            .name{
                font-family: 'Roboto',sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                color: #DF0101;
            }
            .info{
                font-family: 'Roboto',sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 56px;
                text-transform: uppercase;

                color: #3F3F46;
            }
        }
    }
    .header_social{
        display: flex;
        justify-content: space-between;
        margin-top: 67px;
        a{
            display: block;
            background: #F0F0F8;
            box-shadow: 0px 10px 35px #C1BFDA;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 113px;
            height: 113px;
            border-radius:50%;
            img{
                max-width: 45px;
                width: 100%;
            }
        }
    }
    .header_menu{
        ul{
            padding: 0;
            li{
                list-style-type: none;
                display: flex;
                align-items: center;
                margin-bottom: 29px; 
                img{
                    margin-right: 40px;
                }
                a{
                    display: block;
                    font-family: 'Roboto',sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                    color: #909095;
                    text-decoration: none;
                    white-space: nowrap;
                  
                    
                }
            }
        }
    }
}

.main_slider{
    .main_slider_wrapper{
        .slid{
            .slid_content{
                position: relative;
                border-radius: 30px;
                height: 375px;
                padding-top: 46px;
                padding-bottom: 46px;
                background: rgba(0, 0, 0, 0.6);
                justify-content: center;
                display: flex;
                .date{
                    background: #F30E0E;
                    width: 255px;
                    height: 43px;
                    font-family: 'Roboto',sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    padding-left: 47px;
                    position: absolute;
                    left: 0;
                }
                .text_content{
                   
                    align-self: center;
                    text-align: center;
                    .title{
                        font-family: 'Roboto',sans-serif;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 48px;
                        line-height: 56px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                    .subtitle{            
                        font-family: 'Roboto',sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 28px;
                        text-transform: lowercase;
                        color: #FFFFFF;
                    }
                }
                .arrow{
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    .slid_prev{
                        left: -5%;
                        position: absolute;
                    }

                    .slid_next{
                        position: absolute;
                        position: absolute;
                        left: 105%;
                        transform: rotate(180deg);
                        }
                    }
                }
                .img_slider{
                    position: absolute;
                    background:#c2c2c2;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    border-radius: 30px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    }
                }
            }
        }
    

.banner_slider{
    .slid_content_banner{
        height: 300px;
    }
    margin-top: 140px;
    .banner_slider_wrapper{
        .slid_item{
            position: relative;
            margin-right: 19px;
            img{
                width: 100%;
            }
            .title{
                background: #EE0909;
                width: 248.32px;
                height: 41.87px;
                position: absolute;
                top: 46px;
                padding-left: 47px;
                p{
                    font-family: 'Roboto',sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 47px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-top: -16px;
                }
            }
        }
    }
}

.video_slider{
    margin-top: 125px;
    .video_slider_wrapper{

        .slid_item{
            img{
                max-width: 738px;
                width: 100%;
            }
        }
    }
}

footer{
    margin-top: 168px;
    padding: 85px 0px 124px 0px;
    background: #7D7D7D;
    .feeback{
        
        a{
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 46px;
            display: flex;
            align-items: center;
        }
        .adress{
            &::before{
                content:'';
                display: block;
                width: 50px;
                height: 47px;
                background:url(../img/geo.svg) center no-repeat;
                margin-right: 28px;
            }
        }
        .phone{
            &::before{
                content:'';
                display: block;
                width: 50px;
                height: 47px;
                margin-right: 28px;
                background:url(../img/phone.svg) center no-repeat;
            }
        }
        .mail{
            &::before{
                content:'';
                display: block;
                width: 50px;
                height: 47px;
                margin-right: 28px;
                background:url(../img/mail.svg) center no-repeat;
            }
        }
    }

    .socials{
      
        .title{
            font-family: 'Roboto'sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 36px;
        }
        .social_link{
            display: flex;
            align-items: center;
            margin-bottom: 46px;
            a{
                display: block;
                margin-right: 50px;
                
            }
        }
        .reiting{
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}

.strim_audio{
    display: none;
}

.play_ico{
    .play{
        display: block;
    }
    .pause{
        display: none;
    }
}

.played{
    .play{
        display: none;
    }
    .pause{
        display: block;
    }
}